

.App-header {
  background-color: #637394;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.service-card {
  background-color: #d7c9ee;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.services {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  gap: 20px;
}
img {
  max-width: 100%;
  height: auto;
}

section {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}